body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;            
    display: flex;
    justify-content: center;  
    align-items: center;      
    background-color: #f9f9f9;
    .error {
        color: red;
      }
      
}

.container {
    border: 1px solid #ccc;  
    padding: 20px 30px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(182, 44, 44, 0.1);
    width: 350px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 15px;
    padding: 5px 15px;
    background-color: #4f49a0;
    color: white;
    border: none;
    cursor: pointer;
}

